*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #ff6900;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 1.5rem;
    margin-bottom: 3.5rem;
}
nav div.gender,
nav div.shop{
    flex-basis: 70%;
    height: 100%;
}
nav div.main-logo{
    flex-basis: 30%;
    height: 100%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    font-size: 1.2rem;
    margin: 0 0.3rem;
    font-weight: bold;
}
article img{
    flex-basis: 30%;
}
.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.flex-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.flex{
    display: flex;
}
.main-content{
    width: 80%;
    height: 1000px;    
}
.outfit{
    width: 32%;
    height: 50%;
}
.outfit-img{
    width: 20rem;
    height: 80%;
}
.clothes-section{
    flex-wrap: wrap;
}
#img-boolean{
    height: 2rem;
    text-align: center;
}
